/* Google Fonts (Keep at the top)*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); 

/*.ticketWrapper {
  box-shadow: 0 4px 8px 0 #D3D3D3, 0 6px 20px 0 #D3D3D3;
  width: 950px;
  height: 400px;
  margin-left: 180px;
}

/* Poojah Section*/
/* Header*/
.headerBox{
  color: black ;
  padding-bottom: 30px;
  padding-top: 20px;
}
.headerBox h1{ 
  text-align: center;
  text-decoration: underline;
  font-size: 80px;
  font-family: "Bebas Neue", sans-serif;
}
/* Table of Content*/
.wrapper{ 
  padding-top: 10px;
  padding-bottom: 50px;
}

.tableOfContent{ 
  position: relative; 
  background-color:ghostwhite;
  width: 1050px; 
  height: 85px; 
  border-radius: 5px 5px 5px 5px;
  margin-left: auto;
  margin-right: auto;
}

.toc-header{ 
  background-color: rgb(193, 225, 237);
  color: white;
  padding: 8px;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
  border: 1px solid black;
}
.placeItems{
padding-top: 5px;
}

.tableOfContent a{
  padding: 5px 20px 5px 20px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  text-align: center;
}

.tableOfContent a:hover{
border-bottom: 2px solid #4682B4;
transition: 0.5s all ease;
color: #4682B4;

}

/* Top Places to Go boxes*/
.mainWrapper{ 
  padding-top: 20px;
  padding-bottom: 60px;
  justify-content: center; 
  display: flex;
  
}
.mainContainer{ 
  box-shadow: 0 4px 8px 0 #D3D3D3, 0 6px 20px 0 #D3D3D3;
  width: 1180px;
  height: 500px;
}

.content{ 
padding-top: 70px;
}

.content h2{
font-weight: bold;
font-size: 30px;
text-decoration: underline;
}

.content p{ 
padding-top: 10px;
}

.placeImage{
float: left;
margin-right: 20px;
width: 550px;
height: 500px;
}

/* Ticket Box CSS*/
  .header{
    text-align: center;
  }

.flexbox-container{
  display: flex; 
  justify-content: first baseline;
  margin:unset;

} 

.flexbox-item-1{
  background-color: #F8F8FF;
  width: 32%;
  height: 350px;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 #D3D3D3, 0 6px 20px 0 #D3D3D3;

}

.flexbox-item-2{
  background-color: #F8F8FF;
  width: 32%;
  height: 350px;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 #D3D3D3, 0 6px 20px 0 #D3D3D3;
}


.flexbox-item-3{
  background-color: #F8F8FF;
  width: 32%;
  height: 350px;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 #D3D3D3, 0 6px 20px 0 #D3D3D3;
}
/* pooj added*/
.box-images{ 
  border-radius: 20px 20px 0px 0px;
}

.flexbox-item-1 h2{ 
  font-size: 20px;
  text-align:left;
  text-decoration: underline;
  padding-top: 10px;
  padding-left: 20px;
  font-family: "Barlow", sans-serif;
}
.flexbox-item-2 h2{ 
  font-size: 20px;
  text-align:left;
  text-decoration: underline;
  padding-top: 10px;
  padding-left: 20px;
  font-family: "Barlow", sans-serif;
}
.flexbox-item-3 h2{ 
  font-size: 20px;
  text-align:left;
  text-decoration: underline;
  padding-top: 10px;
  padding-left: 20px;
  font-family: "Barlow", sans-serif;
}
.flexbox-item-1 a{
  font-weight:bolder;
  margin: right 90px; ;
} 
.flexbox-item-2 a{
  font-weight:bolder;
  margin-right: 90px;
} 
.flexbox-item-3 a{
  font-weight:bolder;
  margin-right: 90px;
} 


/* Phoebe Section */
/* Footer*/
#page-container {
    position: relative;   /* page size in relation to footer */
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 6rem;    /* Footer */
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #cff4fc;
    color: #0b5ed7;
    padding-top: 10px;
    height: 3.8rem;            /* Footer */
  }
  .alignleft {
	float: left;
    padding-left: 20px;
    padding-top: 8px;
}
.alignright {
	float: right;   
    padding-right: 25px;
}
.fa {
    padding: 10px;
    font-size: 15px;
    width: 20px;
    text-align: right;
    text-decoration: none;
    border-radius: 0%;       /* Footer icons */
  }


.svg-inline--fa {
  vertical-align: -0.200em;
}

.rounded-social-buttons {
  text-align: right;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 2.525rem;
  height: 2.525rem;
  border: 0.425rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 0.7625rem;
  font-weight: normal;
  line-height: 1em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-instagram {
  font-size: 27px;
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.instagram {
  background: #125688;
}

/*mobile responsive*/
@media (max-width: 920px) {
  /* table of contents*/
  .tableOfContent{ 
    width: 450px;
    height: 290px;
  }
  .tableOfContent a{ 
    display: block;
    
  }
  .tableOfContent a:hover{
    background-color:  #9bc0de;
    transition: 0.5s all ease;
    color: white;
  }
    
  /*Places to go cards*/
  .placeImage {
    width: 450px;
    height: 250px;
  }

  .mainContainer{
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5px;
    width: 450px;
    height: 440px;
  }

  .content h2{
    font-size: 20px;
    text-align: center;    
  }

  .content p{
    font-size: 11px;
    text-align: center;
  }

  /*Booking cards*/
  .header{
    padding-bottom: 20px;
  }
  .flexbox-container{
    display: block;
  }

  .flexbox-item-1{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }

  .flexbox-item-1 h2{
    font-size: 18px;
  }

  .flexbox-item-1 a{
    margin-right: 140px;
  }

  .flexbox-item-2{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }

  .flexbox-item-2 h2{
    font-size: 18px;
  }

  .flexbox-item-2 a{
    margin-right: 140px;
  }

  .flexbox-item-3{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
  }

  .flexbox-item-3 h2{
    font-size: 18px;
  }

  .flexbox-item-3 a{
    margin-right: 140px;
  }

  /*Footer section*/
  .alignleft{
    font-size: 13px;
    
  }

  .rounded-social-buttons .social-button {
    width: 1.8rem;
    height: 1.8rem;
    margin: auto;
  }
  
  .rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-instagram {
  font-size: 15px;
  }
}




